/* Login setup for desktop environments */
.loginHeader {
    margin: 2em 2em 1em 2em;
    text-align: center;
    font-size: 18px;
}
.loginMain {
    margin: 0;
    background-color: #404847;
    text-align: center;
    font-size: 18px;
}
.outerContainer {
    margin: 4em auto 0 auto;
    max-width: 600px;
}
.innerContainer {
    padding:1em 2em;
}
.inputHeader {
    padding: 10px 0 5px 0;
    color: #b7b7b7;
    text-align:left;
    font-size: 15px;
}
.loginButton {
    width: 100%;
    height: 40px;
    margin: 20px 0;
    border: 0;
    border-radius: 1px;
    color: #adadad;
    background-color: #212121;
    font-weight: 600;
}
.loginButton:hover {
    background-color:#757575;
    transition:.2s ease-in-out;
}
#forgotPassword {
    padding: 10px 0 5px 0;
    color: #b7b7b7;
    font-size: 15px;
}
.loginFooter {
    margin: 0;
    text-align: center;
    font-size: 15px;
    padding: 5px 0;
    height: 40px;
    line-height: 40px;
    color: #b7b7b7;
    background-color: #404847;
}
.footerLink {
    width:20%;
    float:left;
}
/* Mobile Responsive Media Queries */
@media (max-width: 769px) {
    #redditMain {
        width:100%;
    }
    .outerContainer {
        margin:0 auto;
    }
    .loginFooter {
        margin: 2em 1em 0 1em;
        background-color:transparent;
    }
}