/* Created by David on 9.19.16 */

/*------ Body and Default Elements ------*/
body {
    background-color: white;
    color: #757575;
    font-family: 'Roboto', sans-serif;
    font-weight:400;
    line-height: 1.75;
    min-height:100vh;
    margin:0;
}
.indexHero {
    background: url(../css/images/overlay2.png) repeat left top, url(../css/images/brotherhoodSmall.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    min-height: 100vh;
}
.indexHero:after {
    height: 100vh;
    width: 100vw;
    z-index: -1;
    top: 0px;
    position: fixed;
    background: transparent url(../css/images/overlay2.png) repeat left top;
}
::-webkit-scrollbar {
    display: none;
}
input {
    color: #757575;
    border: 1px solid #dedede;
    height: 35px;
    width: calc(100% - 20px);
    padding: 0 10px;
}
a {
    color: inherit;
    text-decoration: none;
    display: inline;
}
a:hover {
    color:dimgray;
    transition:all .1s ease-in-out;
}
.col1 {
    padding-right: 2em;
}

.btn {
    background-color: #717F7E;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 20px 10px 0 0;
    text-transform: uppercase;
    font-weight: bold;
}
.btn-s {
    color: #ffffff;
    background-color: #717f7e;
    width: calc(50% - 10px);
    min-height: 50px;
    padding: 10px 15px;
    float: left;
    border: none;
    margin: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

.optbtn {
    line-height: calc(50px - 30px)!important;
    text-align: center;
    cursor: pointer;
}
.optbtn.menuButton {
    color: white;
    background-color: #404847;
    border: none;
    margin: 8px 0px;
}
.optbtn.menuButton:hover {
    background-color: #505050;
    transition: all .15s ease-in-out;
}

.smallbtn {
    background-color: #00897b;
    color: white;
    padding: 2px 12px;
    border: none;
    margin: 0;
}

.tdebug {
    border: 1px solid #ccc;
}

/*------ Reusable Body CSS ------*/
.floatLeft {
    float:left;
}
.floatRight {
    float:right;
}
.hideOverFlow {
    overflow:hidden;
}
.clearFix:after {
    content: "\0020";
    visibility: hidden;
    display: block;
    height: 0px;
    clear: both;
}
.light {
    font-weight:300;
}
p {
    margin: .5em 0;
}
.white {
    margin:0;
    color:white;
}
.shadow {
    box-shadow:0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.padding {
    padding:20px;
}
.hide {
    display:none;
}
.rotate {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
    transition: all .15s ease-in-out;
}
/*------ Navigation Header and Content ------*/
.navFixed {
    height:60px;
}
.navHeader {
    margin: 0;
    background-color: #404847;
    border: 0;
    color: #fff;
    min-width: 320px;
    height:60px;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 3;
    position: fixed;
}
.navTitle {
    margin: 0;
    line-height: 60px;
    float: left;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 400;
}
.navIcon {
    font-size: 1.5em;
    padding: 18px;
    cursor:pointer;
}
.main {
    padding: 20px;
}
.overlay {
    height: 100vh;
    width: 100vw;
    top: 0;
    position: fixed;
    background-color: rgba(0,0,0,0.75);
    opacity: 0;
    z-index:3;
    visibility: hidden;  
    transition: all .25s ease-in-out;
}
.overlay.active {
    opacity:1;
    visibility: visible;
}

/*------ Section and HTML Structure ------*/
.section {
    width: calc(100% - 40px);
    background-color: rgba(59,66,65,.8); /* was #3b4241 */
    cursor:default;
    padding: 20px;
    margin: 0;
}
.sectionTitle {
    margin: 0;
    padding: 10px 10px 0 10px;
    font-size: 17px;
    line-height: calc(50px - 30px);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 400;
}
.gameSection {
    background-color: #404847;
    min-height: 250px;
    width: calc(33.33% - 60px);
    margin: 0 20px 20px 20px;
    padding: 10px;
    float: left;
}
#aboutSection {

}
#whoSection {
    margin-top:20px;
}
.results {
    padding: 0 20px 20px 20px;
}
.resultsText {
    padding: 6px 15px;
    margin-bottom: 10px;
    background-color: white;
    color:#5a5a5a;
    transition:all .1s ease-in-out;
}

/*------ Main Menu and Navigation ------*/

/*-- Main menu slides in from left when opened. When "Settings" is clicked the main menu pushes up. --*/
/*-- Active indicates a left/right motion and Push indicates an upward/downward motion              --*/
.mainMenu {
    height: 100%;
    width: 16%;
    min-width: 285px;
    top: 0;
    padding: 10px;
    background-color: white;
    position: fixed;
    transform: translate3d(-2000px,0,0);
    transition: all .35s ease-in-out;
    z-index: 3;
}
.mainMenu.active {
    transform:translate3d(0,0,0);
}
.mainMenu.active.push {
    transform:translate3d(0,-100%,0);
}
.settingsMenu {
    height: 100%;
    width: 16%;
    min-width: 285px;
    top: 0;
    padding: 10px;
    background-color: white;
    position: fixed;
    transform: translate3d(-2000px,100%,0);
    transition: all .35s ease-in-out;
    z-index: 3;
}
.settingsMenu.active {
    transform:translate3d(0,100%,0);
}
.settingsMenu.active.push {
    transform:translate3d(0,0,0);
}
.menuTitle {
    margin: 0;
    padding: 10px 10px 20px 10px;
    margin-bottom: 20px;
    font-size: 17px;
    line-height: calc(50px - 30px);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 400;
}

.mainMenuButton {
    padding: 0 10px;
    margin: 0;
    cursor: pointer;
    overflow: hidden;
}
.mainMenuButton:hover {
    color: #495453;
}
.mainMenuButton.active {
    background-color: #404847;
    padding-left:25px;
    color: white;
}
.menuFooter {
    margin: 0;
    padding: 25px 10px;
    position: absolute;
    bottom: 1em;
    font-size:13px;
}


/* Mobile Responsive Media Queries */
@media (max-width: 769px) {
    .main {
        padding:0;
    }
    .gameSection {
        width: calc(100% - 60px);
    }
}