/* Statistics page structure */
.statsHeader {
    height: calc(60px - 2em);
    width: calc(100% - 2em);
    line-height:15px;
    background-color:#3b4241;
    max-width: calc(1000px - 2em);
    margin: 0em auto;
    padding: 1em;
}
.statsHeaderCollapse {
    color: white;
    line-height: calc(50px - 15px)!important;
    padding: 0 10px;
    float: right;
    cursor: pointer;
}
.statsHeaderLabel {
    color: white;
    line-height: calc(50px - 15px);
    padding: 0 10px;
}

/* Rows across the stats page that are responsive */
.informationRow {
    float: left;
    width: calc(33.33% - 2em);
    margin: 1em;
    min-width: 325px;
}

/* Centers all three stats rows responsively */
.statCenter {
    width: calc(80% - 6em);
    margin: 0 auto;
}

/* Row Cell Structure */
.statsSection {
    max-width: calc(650px - 2em);
    margin: 0 auto 1em auto;
    padding: 1em;
    line-height: 2;
    color: #757575;
    background: white;
}
.statsCell {
    width: 100%;
    line-height: 30px;
}
.stats {
    width: 50%;
}
.stats.left {
    float: left;
    text-align: left;
    text-transform: capitalize;
}
.stats.right {
    float: right;
    text-align: right;
    max-height: 40px;
    overflow-y: hidden;
    overflow-x: scroll;
}


/* Mobile Responsive Media Queries */
@media (max-width: 769px) {
    .statsHeader {
        height: calc(50px - 1em);
        width: calc(100% - 1em);
        max-width: calc(1000px - 1em);
        padding: .5em;
    }

    .statsSection {
        margin: 0 auto;
        padding: 0 10px;
        box-shadow: none;
        font-size: 14px;
    }

    .statCenter {
        width: 100%;
    }

    .informationRow {
        float: left;
        width: 100%;
        margin: 0;
        min-width: 0;
    }
}